
*{
font-family: 'Uber Move Medium', sans-serif;
font-size: 13;
}

body { font-family: 'Uber Move Medium', sans-serif; }

a {
  color: #ce8bf8;
}


.navbar {
  position: fixed;
  background-color: #fafafd;
  border: 14px solid #f1effd;
  border-radius: 20px;
  padding: 14px;
  width: 14.5rem;
  top: 0;
  bottom: 0;
  margin-left: -20px;
  box-shadow: 0px 11px 16px rgba(65, 65, 65, 0.25);
}

.navbar-title {
  font-style: Bold 700;
  font-weight: bold;
  font-size: 13;
  line-height: 46px;
  display: flex;
  color: black;
  padding-left: 10px;
  position: absolute;
  top: 27px;
}

.navbar-subtitle {
  position: absolute;
  top: 143px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #272b2f;
  align-items: center;
}

.summary-navbar {
  position: absolute;
  top: 173px;
  padding-left: 55px;
}

.text-navbar {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #959ea3;
  padding-left: 15px;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.content {
  background: #ffffff;
  padding-left: 15rem;
  padding-right: 1.8rem;
  padding-top: 0.5%;
  padding-bottom:3%;
}

.content-title {
  padding-top:2rem;
  margin-left: 52px;
  width: 800px;
  font-style: normal;
  font-weight: bold;
  font-size: calc(30px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: 81px;
  line-height: 1.2;
  display: flex;
  color: #000000;
  margin-bottom: 20px;
}

.content-paraf {
  margin-left: 5rem;
  margin-top: 20px;
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #272b2f;
}

.content-warning {
  background: #f1effd;
  margin-top: 5rem;
   margin-bottom: 2rem;
   margin-left: 5rem;
   margin-right: 5rem;
  padding: 50px;
  border: 14px 0px 0px 0px solid purple;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #272b2f;
}

.content-graph {
  padding-left: 15rem;
  padding: 50px;
  border: 1px solid #ce8bf8;
  box-shadow: 6px 5px 21px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: white;
  margin-top: 52px;
  margin-left: 52px;
  margin-right: 52px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px

}

.js-plotly-plot .plotly div {
    direction: ltr;
    font-family: 'Uber Move Medium', verdana, arial, sans-serif;
    margin: 0px;
    padding: 0px;
}


.div {
    font-family: 'Uber Move Medium';
    font-size: 17px;
    fill: rgb(0, 0, 139);
    opacity: 1;
    font-weight: normal;
    white-space: pre;
}

.content-button {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #ce8bf8;
  box-shadow: 6px 5px 21px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: white;
  margin-top: 52px;
}


.box-left {
  padding: 30px;
  border: 1px solid #ce8bf8;
  box-shadow: 6px 5px 21px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: white;
  margin-top: 52px;
  column-count: 2
}

.box {
  margin-top: 5rem;
   margin-bottom: 2rem;
   margin-left: 5rem;
   margin-right: 5rem;
  padding: 50px;
  border: 1px solid 	#F5F5F5;
  box-shadow: 6px 5px 21px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: white;
  margin-top: 52px;
  vertical-align: top;
  font: inherit;
}

.test {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.button {
  transition-duration: 0.4s;
  font-size: 20px;
  align-items: center;
  color: black;
  background-color: #f1effd;;
}

.button:hover {
  background-color: #f1effd; /* Green */
  color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f1effd;
}

.js-plotly-plot .plotly {
    direction: ltr;
    font-family: 'Uber Move Medium',
    margin: 0px;
    padding: 0px;
}




.textpoint{
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}